<h1>Profiles#edit</h1>
<p>Find me in app/views/profiles/edit.html.erb</p>

<%= simple_form_for(@user, url: edit_profile_path) do |f| %>
  <!-- [...] -->

  <%= f.input :first_name, as: :text %>
  <%= f.input :last_name, as: :text %>
  <%= f.input :city, as: :text %>
  <%= f.input :avatar %>
  <%= f.input :avatar_cache, as: :hidden %>
  <!-- [...] -->
  <%= f.button :submit %>
<% end %>
