<h1>Edit your Profile</h1>

<%= simple_form_for(@user, url: profiles_update_path) do |f| %>
  <!-- [...] -->

  <%= f.input :first_name, as: :text %>
  <%= f.input :last_name, as: :text %>
  <%= f.input :city, as: :text %>
  <%= f.input :avatar %>
  <%= f.input :avatar_cache, as: :hidden %>
  <!-- [...] -->
  <%= f.button :submit, class: "btn btn-block btn-success" %>
<% end %>
