<div class="box" id="profiles-list">
  <h6>Showing <%= @users.count %> results</h6>
  <ul>
    <% @users.each do |profile| %>
      <%= link_to profile_path(profile) do %>
        <li class="profile-item text-inline">
          <div>
            <% if profile.avatar.filename.nil? %>
              <%= image_tag "noprofilepicture.png", height: 72, width: 72, class: "avatar" %>
            <% else  %>
              <%= cl_image_tag profile.avatar, height: 72, width: 72, crop: :fill, class: "avatar" %>
            <% end  %>
          </div>
          <div class="text">
            <h4><%= profile.first_name.capitalize%> <%= profile.last_name.upcase %> </h4>
            <%= profile.main_job %>
            <h6><%= profile.city %></h6>
            <p><%= profile.bio.slice(0, 120) unless profile.bio.nil? %>...</p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
