<div class="box" id="profiles-list">
  <h6>Showing <%= @results.count %> results</h6>
  <ul>
    <% @results.each do |profile| %>
      <li class="profile-item text-inline">
        <div>
          <% if profile.avatar.filename.nil? %>
            <%= image_tag "noprofilepicture.png", height: 72, width: 72, class: "avatar" %>
          <% else  %>
            <%= cl_image_tag profile.avatar, height: 72, width: 72, crop: :fill, class: "avatar" %>
          <% end  %>
        </div>
        <div class="text">
          <h4><%= profile.first_name.capitalize%> <%= profile.last_name.upcase %> </h4>
          <h5><%= profile.talents.first %></h5>
          <h6><%= profile.city %></h6>
          <p><%= profile.bio.slice(0, 200) unless profile.bio.nil? %></p>
        </div>
        <%= link_to '', show_profile_path(profile) %>
      </li>
    <% end %>
  </ul>
</div>
