<h1>My Profile</h1>

<div class="wrapper">
  <div class="container">
    <% if @user.avatar.filename.nil? %>
      <%= image_tag "noprofilepicture.png", height: 300, width: 400 %>
    <% else  %>
      <%= cl_image_tag @user.avatar, height: 300, width: 400, crop: :fill %>
    <% end  %>
    <h1> First Name: <%= @user.first_name %></h1>
    <h1> Last Name: <%= @user.last_name %></h1>
    <h2> Email address: <%= @user.email %></h2>
    <h2> City: <%= @user.city %></h2>
  </div>
</div>


<% if current_user.id == @user.id %>
  <%= link_to "Edit Profile", user_path %>
<% end %>
