<div class="container">
  <div class="banner-profile" style="background-image: url(<%= @user.banner.url(:banner_image) %>)">
  </div>

  <div class="profile-page">
    <div class="profile-bar">
      <% if @user.avatar.filename.nil? %>
      <%= image_tag "noprofilepicture.png", height: 206, width: 206, class: "profile-pic" %>
      <% else  %>
      <%= cl_image_tag @user.avatar.url(:profile_picture), class: "profile-pic" %>
      <% end  %>

      <div class="profile-details">
        <h1 class="profile-name"><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"%></h1>
        <p>
          <span class="values"><%= @user.main_job if @user.main_job %></span> -
          Based in <span class="values"><%= @user.city.capitalize if @user.city %></span>
        </p>
      </div>

      <% if current_user.id == @user.id %>
        <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-success btn-lg request" %>
      <% else %>
        <%= link_to "Send a request", new_profile_job_path(@user), class: "btn btn-success btn-lg request" %>
      <% end %>
    </div>

    <div class="row profile-content">

      <div class="col-md-8">
        <div class="box bio">
          <h2 class="box-title">Bio :</h2>
          <p>"<%= @user.bio %>"</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="box skills">
          <h2>Skills :</h2>
          <ul class="skills-list">
            <% @user.talents.each do |talent| %>
            <li><h4><%= talent.name %></h4></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="row profile-content">
      <div class="col-md-6 col-md-offset-3">
        <div class="box text-center album-box">
          <h2>Albums :</h2>
          <div class="albums">
            <%= cl_image_tag("https://res.cloudinary.com/twerk/image/upload/v1534936368/album_covers/quidenousdeux.jpg", height: 150, width: 150, border: '2px_solid_black') %>
            <%= cl_image_tag("https://res.cloudinary.com/twerk/image/upload/v1534936367/album_covers/pills.jpg", height: 150, width: 150, border: '2px_solid_black') %>
            <%= cl_image_tag("https://res.cloudinary.com/twerk/image/upload/v1534936367/album_covers/ours.jpg", height: 150, width: 150, border: '2px_solid_black') %>
          </div>
        </div>
      </div>
    </div>

    <div class="row profile-content">
      <div class="col-md-6 col-md-offset-3">
        <div class="box reviews">
          <% unless @user.reviews.empty? %>
            <h2>Reviews</h2>
            <div class="index-msgs">
              <div class="message-text">
                <% @job.reviews.each do |review| %>
                  <h5 class="msg-header"><strong><%= "#{review.job.user.first_name} #{review.job.user.last_name}" %></strong> - <%= message.created_at.strftime("%e %b %Y") %></h5>
                  <p><%= review.content %></p>
                <% end %>
              </div>
            </div>
          <% end %>

          <%# if @user.jobs.include?(Job.find_by(:user == current_user)) %>
            <div class="new-message">
              <%= simple_form_for [@profile, @review] do |f| %>
                <%= f.input :content, label: false,:input_html => {class: "test-width", :style => 'width: 100%', :rows => 5} %>
                <%= f.hidden_field :user_id, value: params[:id] %>
                <%= f.submit "Leave a review", class: "btn btn-success" %>
              <% end %>
            </div>
          <%# end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


