<h1>My Jobs</h1>

<div class="container">
  <h3> My Jobs as supplier </h3>
  <div class="row">
      <% @jobs_as_supplier.each do |job| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h2><%= job.talent.user.first_name.capitalize %>, <%= job.talent.user.last_name.capitalize %></h2>
          <p><%= job.talent.name %></p>
        </div>
      </div>
      <% end %>
  </div>
</div>

<div class="container">
  <h3> My Jobs as client </h3>
  <div class="row">
      <% @jobs_as_client.each do |job| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h2><%= job.talent.user.first_name.capitalize %>, <%= job.talent.user.last_name.capitalize %></h2>
          <p><%= job.talent.name %></p>
        </div>
      </div>
      <% end %>
  </div>
</div>
