<div class="wrapper">

  <div class="container">


    <% if @jobs_as_client.empty? %>
      <h3> No collaboration yet!</h3>
    <% else %>
      <h3> As a client </h3>
      <% @jobs_as_client.each do |job| %>
        <div class="message">
          <%= link_to '', job_path(job.id), class: "message-link"%>
          <!-- avatar -->
          <%= cl_image_tag job.talent.user.avatar, height: 104, width: 104, class: "avatar", crop: :fill %>
          <!-- avatar -->
          <div class="message-name">
            <h3><%= job.talent.user.first_name.capitalize %> <%= job.talent.user.last_name.capitalize %></h3>
            <p><%= job.talent.name %></p>
          </div>
          <div class="message-body">
            <p><%= job.messages.last.content unless job.messages.empty? %></p>
          </div>
          <div class="message-status">
            <% if job.accepted.nil? %>
              <h3 class="status pending">Pending</h3>
            <% else %>
              <h3 class="status accepted">Accepted</h3>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @jobs_as_supplier == [] && !@jobs_as_client.empty? %>
      <h3> No collaboration yet!</h3>
    <% elsif @jobs_as_supplier != [] %>
      <h3> As a supplier </h3>
      <% @jobs_as_supplier.each do |job| %>
        <div class="message">
          <%= link_to '', job_path(job.id), class: "message-link"%>
          <!-- avatar -->
          <%= cl_image_tag job.user.avatar, height: 104, width: 104, class: "avatar", crop: :fill %>
          <!-- avatar -->
          <div class="message-name">
            <h3><%= job.user.first_name.capitalize %> <%= job.user.last_name.capitalize %></h3>
            <p><%= job.talent.name %></p>
          </div>
          <div class="message-body">
            <p><%= job.messages.last.content %></p>
          </div>
          <div class="message-status">
            <% if job.accepted.nil? %>
              <h3 class="status pending">Pending</h3>
            <% else %>
              <h3 class="status accepted">Accepted</h3>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>

