<div class="wrapper">

  <div class="container">


    <div class="job-instance">
      <% if @jobs_as_client.empty? %>
        <h3> No collaboration yet!</h3>
      <% else %>
          <h3> People you're working with </h3>
          <% @jobs_as_client.each do |job| %>
            <div class="message">
              <%= link_to '', job_path(job.id), class: "message-link"%>
              <!-- avatar -->
              <%= cl_image_tag job.talent.user.avatar, height: 104, width: 104, class: "avatar", crop: :fill %>
              <!-- avatar -->
              <div class="message-name">
                <h4><%= job.talent.user.first_name.capitalize %> <%= job.talent.user.last_name.capitalize %></h3>
                <p><%= job.talent.name %></p>
              </div>
              <div class="message-body">
                <p><%= job.messages.last.content unless job.messages.empty? %></p>
              </div>
              <div class="message-status">
                <% if job.accepted.nil? %>
                  <h4 class="status pending">Pending</h4>
                <% elsif job.paid %>
                  <h4 class="status accepted">Paid</h4>
                <% elsif job.completed %>
                  <h4 class="status accepted">Completed</h4>
                <% elsif job.accepted %>
                  <h4 class="status text-primary">Accepted</h4>
                <% else %>
                  <h4 class="status text-danger">Refused</h4>
                <% end %>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>

    <div class="job-instance">
      <% if @jobs_as_supplier != [] %>
          <h3> People you're working for </h3>
          <% @jobs_as_supplier.each do |job| %>
            <div class="message">
              <%= link_to '', job_path(job.id), class: "message-link"%>
              <!-- avatar -->
              <%= cl_image_tag job.user.avatar, height: 104, width: 104, class: "avatar", crop: :fill %>
              <!-- avatar -->
              <div class="message-name">
                <h4><%= job.user.first_name.capitalize %> <%= job.user.last_name.capitalize %></h4>
                <p><%= job.talent.name %></p>
              </div>
              <div class="message-body">
                <p><%= job.messages.last.content %></p>
              </div>
              <div class="message-status">
                <% if job.accepted.nil? %>
                  <h4 class="status pending">Pending</h4>
                <% elsif job.paid %>
                  <h4 class="status accepted">Paid</h4>
                <% elsif job.completed %>
                  <h4 class="status accepted">Completed</h4>
                <% elsif job.accepted %>
                  <h4 class="status text-primary">Accepted</h4>
                <% else %>
                  <h4 class="status text-danger">Refused</h4>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

