
<div class="wrapper">
  <div class="row">
    <div id="new-job-form">
      <div class="box box-pro" id="new-job-pro">
        <div id="new-job-pro-name">
          <h1>Create a new job request</h1>
<!--           <h2>NB: remove temp @supplier value in jobs_controller</h2> -->
          <h3>Selected Music Pro: <%= @supplier.first_name.capitalize  %> <%= @supplier.last_name.capitalize %> </h3>
        </div>
        <div id="new-job-pro-talents">
          <h3>Skills: <% @supplier.talents.each do |talent| %>
            <%= talent.name %>
            <% end %>
          </h3>
        </div>
        <div id="new-job-pro-completion">
          <p>Job completion status: pending <%= @job.completed %></p>
        </div>
      </div>


      <div class="box box-pro" id="new-job-message">
        <h3>Load a music file :</h3>
          <%= simple_form_for @job do |f| %>
            <%= cl_upload_tag(:audio_file, :resource_type => "video") %>
            <br>
            <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
          <% end %>
      </div>

    </div>
  </div>
</div>


<form class="simple_form new_job" id="new_job" novalidate="novalidate" action="/jobs" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="tW5umlzzkw+SoDzPuhCxBIOeZQYXQcqrN1smPUFaxyNPyCvDAbgOHwVx/7HP0cucihhtruW2rZiqt+G6j3Ak4g==">
  <input type="file" name="file" data-url="https://api.cloudinary.com/v1_1/twerk/video/upload" data-form-data="{&quot;callback&quot;:&quot;http://localhost:3000/cloudinary_cors.html&quot;,&quot;timestamp&quot;:1535023605,&quot;signature&quot;:&quot;9d335d4d953718390f02dea7e36199d374e3a45f&quot;,&quot;api_key&quot;:&quot;524457697912353&quot;}" data-cloudinary-field="audio_file" class="cloudinary-fileupload">
  <br>
  <input type="submit" name="commit" value="Submit" class="btn btn-primary btn-block" data-disable-with="Submit">
</form>
