<div class="container">
<!--   <div class="row">
    div.col-xs-12.col-md-4.col-offset.md.4
  </div> -->
  <div class="supplier-profile box text-center">
    <div class="supplier-pic">
      <%= cl_image_tag @supplier.avatar, height: 200, width: 200, crop: :fill, class: "avatar" %>
    </div>
    <div class="supplier-details">
      <h3><%= @supplier.first_name.capitalize %> <%= @supplier.last_name.upcase %></h3>
      <p>
        Main skill : <span class="values"><%= @supplier.main_job if @supplier.main_job %></span> -
        Based in <span class="values"><%= @supplier.city.capitalize if @supplier.city %></span>
      </p>
    </div>
  </div>

  <%= simple_form_for([@supplier, @job], method: :post, url: "/profiles/#{params[:profile_id]}/jobs") do |f| %>
    <%= f.association :talent, collection: @supplier.talents %>
    <%= f.input :audio_file %>
    <%= f.input :audio_file_cache, as: :hidden %>
    <div class="form-group">
      <label for="message_content" class="form-control-label">First message</label>
      <textarea class="form-control" name="message_content" rows="10"></textarea>
    </div>
    <%= f.button :submit, class: "btn btn-block btn-success" %>
  <% end %>
</div>
