<div class="container">

  <div class="row box">
    <div class="col-xs-6">
      <div class="supplier-profile text-center">
        <div class="supplier-pic">
          <%= cl_image_tag @supplier.avatar, height: 200, width: 200, crop: :fill, class: "avatar" %>
        </div>
        <div class="supplier-details">
          <h3><%= @supplier.first_name.capitalize %> <%= @supplier.last_name.upcase %></h3>
          <p>
            Main skill: <span class="values"><%= @supplier.main_job if @supplier.main_job %></span> -
            Based in <span class="values"><%= @supplier.city.capitalize if @supplier.city %></span>
          </p>
        </div>
      </div>
    </div>

    <%= simple_form_for([@supplier, @job], method: :post, url: "/profiles/#{params[:profile_id]}/jobs") do |f| %>
    <div class="col-xs-6">
      <div class="supplier-talents">
        <%= f.association :talent, label: "What do you need  #{@supplier.first_name.capitalize} for?", as: :radio_buttons, collection: @supplier.talents %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="message_content" class="form-control-label">Give a bit of context:</label>
        <textarea class="form-control" name="message_content" rows="5"></textarea>
      </div>
      <%= f.input :audio_file, label: 'Upload a track'%>
      <%= f.input :audio_file_cache, as: :hidden %>
      <%= f.button :submit, class: "btn btn-block btn-success end-of-form" %>
      <% end %>
    </div>
  </div>

</div>


<form class="simple_form new_job" id="new_job" novalidate="novalidate" action="/jobs" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="tW5umlzzkw+SoDzPuhCxBIOeZQYXQcqrN1smPUFaxyNPyCvDAbgOHwVx/7HP0cucihhtruW2rZiqt+G6j3Ak4g==">
  <input type="file" name="file" data-url="https://api.cloudinary.com/v1_1/twerk/video/upload" data-form-data="{&quot;callback&quot;:&quot;http://localhost:3000/cloudinary_cors.html&quot;,&quot;timestamp&quot;:1535023605,&quot;signature&quot;:&quot;9d335d4d953718390f02dea7e36199d374e3a45f&quot;,&quot;api_key&quot;:&quot;524457697912353&quot;}" data-cloudinary-field="audio_file" class="cloudinary-fileupload">
  <br>
  <input type="submit" name="commit" value="Submit" class="btn btn-primary btn-block" data-disable-with="Submit">
</form>
