
<!-- @job = Job.find(params[:id])
authorize @job
@supplier = @job.talent.user
@client = @job.user
@price = @job.price -->
<div class="job-container">
  <div class="job-show-grid">

<!-- DISPLAYS THE CLIENT'S INFOS -->
    <div class="job-box supplier">
      <% if current_user == @client %>
        <%= link_to profile_path(@job.talent.user) do %>
          <div>
            <% if @supplier.avatar.filename.nil? %>
            <%= image_tag "noprofilepicture.png", height: 104, width: 104, class: "avatar" %>
            <% else  %>
            <%= cl_image_tag @supplier.avatar, height: 104, width: 104, crop: :fill, class: "avatar" %>
            <% end  %>
          </div>
        <% end %>
        <div class="talent-text">
          <h4><%= link_to "#{@supplier.first_name.capitalize} #{@supplier.last_name.upcase}", profile_path(@job.talent.user)%></h4>
          <%= @supplier.main_job %>
          <h6><%= @supplier.city %></h6>
          <p><%= @supplier.bio.slice(0, 120) unless @supplier.bio.nil? %>...</p>
        </div>

<!-- DISPLAYS THE SUPPLIER'S INFOS -->
      <% elsif current_user == @supplier %>
        <%= link_to profile_path(@job.user) do %>
          <div>
            <% if @client.avatar.filename.nil? %>
            <%= image_tag "noprofilepicture.png", height: 104, width: 104, class: "avatar" %>
            <% else  %>
            <%= cl_image_tag @client.avatar, height: 104, width: 104, crop: :fill, class: "avatar" %>
            <% end  %>
          </div>
        <% end %>
        <div class="talent-text">
          <h4><%= link_to "#{@client.first_name.capitalize} #{@client.last_name.upcase}", profile_path(@job.talent.user)%></h4>
          <%= @client.main_job %>
          <h6><%= @client.city %></h6>
          <p><%= @client.bio.slice(0, 120) unless @client.bio.nil? %>...</p>
        </div>
      <% end %>
    </div>

<!-- DISPLAYS THE STATUS FOR THE CLIENT -->
    <% if current_user == @client %>
      <div class="job-box status client text-center">
        <% if @job.paid %>
          <h5 class="text-muted">Collaboration is over.</h5>
        <% elsif @job.completed %>
          <h5 class="text-success">Work is done ! You can proceed to payment below.</h5>
        <% elsif @job.accepted %>
          <h5 class="text-success"><%= @supplier.first_name.capitalize %> has accepted your request !</h5>
        <% elsif @job.accepted.nil? %>
          <h5 class="text-muted">Your request is still pending.</h5>
        <% else %>
          <h5 class="text-danger">Sorry, <%= @supplier.first_name.capitalize %> has denied your request.</h5>
        <% end %>
      </div>

<!-- DISPLAYS THE STATUS FOR THE SUPPLIER -->
    <% elsif current_user == @supplier %>
      <div class="job-box status supplier text-center">

        <% if @job.paid %>
          <h5 class="text-success">Payment received, collaboration over.</h5>

        <% elsif @job.completed %>
          <h5 class="text-success">Congrats ! Work is over. You will receive your payment soon.</h5>

        <% elsif @job.accepted %>
          <h5 class="text-success"><%= @client.first_name.capitalize %> has accepted your proposition ! </h5>

        <% elsif @job.accepted.nil? && @job.price == 0 %>
          <h5 class="text-primary">You have received a request from <%= "#{@client.first_name} #{@client.last_name}" %></h5>

        <% elsif @job.accepted.nil? && @job.price != 0 %>
          <h5 class="text-primary">Wait for <%= "#{@client.first_name} to reply to your price proposition." %></h5>

        <% else %>
          <h5 class="text-danger">You have refused <%= @client.first_name.capitalize %>'s request.</h5>
        <% end %>

      </div>
    <% end %>

    <% unless @job.accepted == false %>
      <div class="job-box price text-center">

<!-- DISPLAYS PRICE AND ACTIONS FOR THE SUPPLIER -->
        <% if current_user == @supplier %>

          <% if @job.paid %>
            <h4>You received <span><%="#{@job.price} € "%></span> from <%= @client.first_name %> </h4>

          <% elsif @job.price != 0 && @job.accepted.nil? %>
            <h4>You have proposed <span><%= "#{@job.price} €"%> to <%= @client.first_name %></span></h4>

          <% elsif @job.price != 0 && @job.accepted %>
            <h4><%= @client.first_name %> has agreed to pay <span><%= "#{@job.price} € "%></span></h4>

          <% elsif @job.accepted.nil? %>
          <div id="price">
              <%= simple_form_for @job, :html => {:class => "form-inline"} do |f| %>
                <%= f.input :price, label: false %>
                <%= f.hidden_field :user_id, label: false %>
                <%= f.submit "Propose a price in €", class: "btn btn-success", :input_html => { :style => 'width: 20px' } %>
              <% end %>

               <%= simple_form_for @job do |f| %>
                <%= f.hidden_field :accepted, value: false %>
                <%= f.submit "Refuse collaboration", class: "btn btn-danger"  %>
              <% end %>
            </div>

          <% end %>

<!-- DISPLAYS PRICE AND ACTIONS FOR THE CLIENT -->
        <% elsif current_user == @client %>

          <% if @job.paid %>
            <h4> <%="You paid"%> <span><%= "#{@job.price} €" %></span> to <%= "#{@supplier.first_name.capitalize}" %></h4>

          <% elsif @job.completed %>
            <h4> <%="You paid"%> <span><%= "#{@job.price} €" %></span> to <%= "#{@supplier.first_name.capitalize}" %></h4>

            <div class= "confirmation-btn">
              <%= simple_form_for @job do |f| %>
                <%= f.hidden_field :paid, value: true %>
                <%= f.submit "Pay", class: "btn btn-success"  %>
              <% end %>
            </div>

          <% elsif @job.accepted && !@job.completed %>
            <h4> <%="You agreed on paying "%> <span><%= "#{@job.price} € " %></span> for <%= "#{@supplier.first_name.capitalize}'s work." %></h4>
            <div class= "confirmation-btn">
              <%= simple_form_for @job do |f| %>
                <%= f.hidden_field :completed, value: DateTime.now %>
                <%= f.submit "Complete collaboration", class: "btn btn-success"  %>
              <% end %>
            </div>

          <% elsif @job.accepted.nil? && @price == 0 %>
            <h5 class="text-muted text-center"> <%= @supplier.first_name.capitalize %> will propose a price along with his request.</h5>

          <% elsif @job.accepted.nil? && @price != 0 %>
            <div>
              <h4> <%="#{@supplier.first_name.capitalize} proposed "%> <span><%= "#{@job.price} €" %></span></h4>
            </div>
            <div class= "confirmation-btn">
              <%= simple_form_for @job do |f| %>
                <%= f.hidden_field :accepted, value: true %>
                <%= f.submit "Accept proposition", class: "btn btn-success"  %>
              <% end %>

              <%= simple_form_for @job do |f| %>
                <%= f.hidden_field :accepted, value: false %>
                <%= f.submit "Refuse proposition", class: "btn btn-danger"  %>
              <% end %>
            </div>

          <% end %>

        <% end %>
      </div>
    <% end %>

<!-- IMPLEMENT AUDIO PLAYER BELOW -->

<!-- IMPLEMENT AUDIO PLAYER ABOVE -->

<!-- MESSAGERIE -->
    <div class="job-box conversation">
      <div class="new-message">
        <%= simple_form_for @message do |f| %>
          <%= f.input :content, label: false,:input_html => {class: "test-width", :style => 'width: 100%', :rows => 5} %>
          <%= f.hidden_field :job_id, value: params[:id] %>
          <%= f.hidden_field :user_id, value: current_user %>
          <%= f.submit "Send a message", class: "btn btn-success" %>
        <% end %>
      </div>
      <div class="index-msgs">
        <div class="message">
          <% @job.messages.each do |message| %>
            <h5 class="msg-header"><strong><%= message.sender %></strong> - <%= message.created_at.strftime("%e %b %Y %H:%M %p") %></h5>
            <p><%= message.content %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
