
<!-- @job = Job.find(params[:id])
authorize @job
@supplier = @job.talent.user
@client = @job.user
@price = @job.price -->
<div class="job-container">
  <div class="job-show-grid">

    <div class="job-box supplier">
      <div>
        <% if @supplier.avatar.filename.nil? %>
        <%= image_tag "noprofilepicture.png", height: 104, width: 104, class: "avatar" %>
        <% else  %>
        <%= cl_image_tag @supplier.avatar, height: 104, width: 104, crop: :fill, class: "avatar" %>
        <% end  %>
      </div>
      <div class="talent-text">
        <h4><%= @supplier.first_name.capitalize%> <%= @supplier.last_name.upcase %> </h4>
        <%= @supplier.main_job %>
        <h6><%= @supplier.city %></h6>
        <p><%= @supplier.bio.slice(0, 120) unless @supplier.bio.nil? %>...</p>
      </div>
    </div>

    <% if current_user == @client %>
      <div class="job-box status client text-center">
        <% if @job.accepted %>
          <h5 class="text-success"><%= @supplier.first_name.capitalize %> has accepted your request !</h5>
        <% elsif @job.accepted.nil? %>
          <h5 class="text-muted">Your request is still pending.</h5>
        <% else %>
          <h5 class="text-danger">Sorry, <%= @supplier.first_name.capitalize %> has denied your request.</h5>
        <% end %>
      </div>
    <% elsif current_user == @supplier %>
      <div class="job-box status supplier text-center">
        <% if @job.accepted %>
          <h5 class="text-success">You have accepted <%= @client.first_name.capitalize %>'s request !</h5>
        <% elsif @job.accepted.nil? %>
          <h5 class="text-primary">You have received a request from <%= "#{@client.first_name} #{@client.last_name}" %></h5>
        <% else %>
          <h5 class="text-danger">You have refused <%= @client.first_name.capitalize %>'s request.</h5>
        <% end %>
      </div>
    <% end %>

    <% unless @job.accepted == false %>
      <div class="job-box price">

        <% if current_user == @supplier %>

          <% if @job.price != 0 %>
            <h5 class="text-success"><%= @job.price %></h5>
            <% simple_form_for @job do |f| %>
              <%= f.submit "Accept #{@supplier.first_name.capitalize}'s proposition", class: "btn btn-success"  %>
            <% end %>
<!--             <button class="btn btn-success "><#%=  "Accept #{@supplier.first_name.capitalize}'s proposition" %></button>
 -->            <button class="btn btn-danger "><%= "Refuse #{@supplier.first_name.capitalize}'s proposition" %></button>

          <% elsif @job.accepted.nil? %>
            <% simple_form_for @job do |f| %>
              <%= f.submit "Propose a price", class: "btn btn-success"  %>
            <% end %>
<!--             <button class="btn btn-success "><#%= "Propose a price" %></button>
 -->            <button class="btn btn-danger "><%= "Refuse collaboration" %></button>

          <% end %>
        <% elsif current_user == @client %>

          <% if @job.accepted && job.completed %>
            <h5 class="text-success"><%= @job.price %></h5>
            <button class="btn btn-success "><%= "Pay #{@supplier.first_name.capitalize}" %></button>

          <% elsif @job.accepted && !@job.completed %>
            <h5 class="text-success"><%= @job.price %></h5>
            <button class="btn btn-success "><%= "Complete collaboration" %></button>

          <% elsif @job.accepted.nil? %>
            <h5 class="text-muted text-center"> <%= @client.first_name.capitalize %> will propose a price along with his request.</h5>

          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="job-box conversation">
      <div class="new-message">
        <%= simple_form_for @message do |f| %>
          <%= f.input :content, label: false,:input_html => {class: "test-width", :style => 'width: 100%', :rows => 5} %>
          <%= f.hidden_field :job_id, value: params[:id] %>
          <%= f.hidden_field :user_id, value: params[:profile_id] %>
          <%= f.submit "Send a message", class: "btn btn-success" %>
        <% end %>
      </div>
      <div class="index-msgs">
        <div class="message">
          <% @job.messages.each do |message| %>
            <h5 class="msg-header"><strong><%= message.sender %></strong> - <%= message.created_at.strftime("%e %b %Y %H:%M %p") %></h5>
            <p><%= message.content %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
